
{% extends "base.html" %} {% block title %} Aalimas | Home {% endblock %}
{% block body %} 
          <!--  Row 1 -->
            <div class="col-lg-8 d-flex align-items-strech">
              <div class="card w-100">
                <div class="card-body">
                  <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                    <div class="mb-3 mb-sm-0">
                      <h5 class="card-title fw-semibold">Sales Profit</h5>
                    </div>
                    <div>
                      <select class="form-select">
                        
                      </select>
                    </div>
                  </div>
                  <div id="sales-profit"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card bg-danger-subtle shadow-none w-100">
                    <div class="card-body">
                      <div class="d-flex mb-10 pb-1 justify-content-between align-items-center">
                        <div class="d-flex align-items-center gap-6">
                          <div
                            class="rounded-circle-shape bg-danger px-3 py-2 rounded-pill d-inline-flex align-items-center justify-content-center">
                            <iconify-icon icon="solar:users-group-rounded-bold-duotone"
                              class="fs-7 text-white"></iconify-icon>
                          </div>
                          <h6 class="mb-0 fs-4 fw-medium text-muted">
                            Number of Customers
                          </h6>
                        </div>
                      </div>
                      <div class="row align-items-end justify-content-between">
                        <div class="col-5">
                          <h2 class="mb-6 fs-8" id="customer-count"></h2></h2>
                        </div>
                        <div class="col-5">
                          <div id="total-followers" class="rounded-bars"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="card bg-secondary-subtle shadow-none w-100">
                    <div class="card-body">
                      <div class="d-flex mb-10 pb-1 justify-content-between align-items-center">
                        <div class="d-flex align-items-center gap-6">
                          <div
                            class="rounded-circle-shape bg-secondary px-3 py-2 rounded-pill d-inline-flex align-items-center justify-content-center">
                            <iconify-icon icon="solar:wallet-2-line-duotone" class="fs-7 text-white"></iconify-icon>
                          </div>
                          <h6 class="mb-0 fs-4 fw-medium text-muted">
                            Total Credited History
                          </h6>
                        </div>
                      </div>
                      <div class="row align-items-center justify-content-between pt-4">
                        <div class="col-5">
                          <h2 class="mb-6 fs-8 text-nowrap" id="credited-amount"></h2>
                        </div>
                        <div class="col-5">
                          <div id="total-income"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="position-relative">
                <h3 class="mt-4 mb-md-3">Today Special</h3>
                <div class="card bg-primary-subtle">
                  <div class="card-body">
                    <div class="row" id="snackContainer">
                    </div>
                  </div>
                </div>
              </div>
          </div>
            
          
              <script src="../static/libs/simplebar/dist/simplebar.js"></script>
              <script src="../static/js/dashboard.js"></script>
              <!-- solar icons -->
              <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
              <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
              <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
            <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css">

            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
            <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
            <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

  <script>
     $('#dynamicHeaderTitle').text("Dashboard");
      $(document).ready(function () {
        dashboardload();
        availabelsnack();
        loadSalesProfitChart(); 
      });

     function dashboardload() {
    $.ajax({
      url: "/home/load_dashboard",
      type: "GET",
      success: function (data) {
        debugger
        $("#customer-count").text(data.count);
        $("#credited-amount").text(`₹${data.credited_amount}`);
      },
      error: function (xhr, status, error) {
        console.error("Error fetching customer count:", error);
      }
    });
  }
  function availabelsnack() {
    $.ajax({
        url: '/home/availabel_snack',
        type: 'GET',
        success: function (response) {
            if (response.data) {
                $('#snackContainer').empty();
              
                response.data.forEach(function (snack, index) {
                  let snackName = snack.snacks_name.toLowerCase();
                  let icon;

                 
                 if (snackName.includes("chai")) {
                      icon =  `<i class="fas fa-mug-hot"style="color: #000000;"></i>`; 
                  } else if (snackName.includes("burger")) {
                      icon = `<i class="fas fa-hamburger"style="color: #000000;"></i>`;
                  } else if (snackName =="shawarma"||snackName.includes("roll") && !snackName.includes("poori") ) {
                      icon = `<img src="../static/images/roll.svg" alt="Shawarma Icon" width="50" height="50">`; 
                  } else if (snackName.includes("poori") ) {
                      icon = `<img src="../static/images/poori.svg" alt="Shawarma Icon" width="70" height="70">`; 
                  }  else if (snackName.includes("toast")) {
                      icon = `<img src="../static/images/toast.svg" alt="Shawarma Icon" width="50" height="50">`;
                  }  else if (snackName.includes("yuqulaa")) {
                      icon = `<img src="../static/images/yuqulaa.svg" alt="Shawarma Icon" width="70" height="70">`;
                  } else if (snackName.includes("french fries")) {
                      icon = `<img src="../static/images/french.svg" alt="Shawarma Icon" width="50" height="50">`;
                  } else if (snackName.includes("muffin")) {
                      icon = `<img src="../static/images/muffin.svg" alt="Shawarma Icon" width="70" height="70">`;
                  } else if (snackName.includes("noodles")) {
                      icon = `<img src="../static/images/noodles.svg" alt="Shawarma Icon" width="50" height="50">`; 
                  } else if (snackName.includes("fried rice") || snackName.includes("biriyani") || snackName.includes("mandhi")) {
                      icon = `<i class="fas fa-bowl-food"style="color: #000000;"></i>`; 
                  }else if (snackName.includes("grill") || snackName.includes("chicken rawaan")) {
                      icon = `<img src="../static/images/chicken.svg" alt="Shawarma Icon" width="50" height="50">`; 
                  }else if (snackName.includes("beef rawaan")) {
                      icon = `<img src="../static/images/beef.svg" alt="Shawarma Icon" width="50" height="50">`; 
                  }else if (snackName.includes("masalas")) {
                      icon = `<img src="../static/images/masala.svg" alt="Shawarma Icon" width="70" height="70">`; 
                  }else {
                      icon =`<i class="fas fa-pizza-slice"style="color: #000000;"></i>`;
                  }

                    let tagText = snack.today_special === "true" ? "Active" : "InActive";
                    let tagClass = snack.today_special === "true" ? "badge rounded-pill fs-2 fw-medium bg-success-subtle text-success" : "badge rounded-pill fs-2 fw-medium bg-danger-subtle text-danger";
                    let isChecked = snack.today_special === "true" ? "checked" : "";
                    let checkboxId = `specialCheck_${snack.id}`;
                    let price = parseFloat(snack.snack_price).toFixed(2);

                    var infoBox = `
                        <div class="col-md-3 col-sm-6 col-12 mb-3">
                            <div class="card shadow-sm border-0 h-100">
                                <div class="card-body d-flex flex-column">
                                    <div class="d-flex align-items-center mb-2">
                                        <div class="me-3" style="font-size: 2rem;">
                                            ${icon}
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="mb-1 d-flex justify-content-between align-items-center flex-wrap">
                                                <span>${snack.snacks_name}</span>
                                                <span class="${tagClass}" style="font-size: 0.75rem;">${tagText}</span>
                                            </h6>
                                            <small class="text-muted">₹${price}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `;
                        

                    $('#snackContainer').append(infoBox);
                });
            }
        },
        error: function (xhr, status, error) {
            console.error("Error fetching snacks:", error);
            showAlert('Failed to load snacks.', 'danger');
        }
    });
  }

  function loadSalesProfitChart() {
  $.ajax({
    url: "/home/get_daily_profit",
    type: "GET",
    success: function (data) {
      const labels = data.map(item => item.date);
      const profits = data.map(item => item.profit);

      var options = {
        chart: {
          type: 'line',
          height: 300,
        },
        series: [{
          name: 'Profit ₹',
          data: profits
        }],
        xaxis: {
          categories: labels
        },
        stroke: {
          curve: 'smooth'
        },
        colors: ["#00b894"],
        dataLabels: {
          enabled: true
        }
      };

      var chart = new ApexCharts(document.querySelector("#sales-profit"), options);
      chart.render();
    },
    error: function (err) {
      console.error("Error loading profit chart", err);
    }
  });
}
  </script>
{%endblock%}